
aside.menu-area {
    background-image: linear-gradient(to right, red 95%, white);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: #FFF;
    padding: 0px 15px;
    font-weight: 300;
    font-size: 0.8em;
}

/*
.menu a:hover {
    background: #0A1F2A;
}*/

.menu i {
    margin-bottom: 5px;
    margin-right: 5px;
}


